.main_buttons {
	display: none;
}

.msb_sticky_button.et-pb-icon {
    display: block;
    font-size: 32px;
}

/* fixing */

@media (max-width: 790px) { 
    
    .main_buttons {
        z-index: 99999;
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        box-shadow: 0 8px 16px 6px #5d5d5d;
        text-align: center;
        display: table;
    }
    
    .main_buttons .on {
        padding: 10px 0;
        display: table-cell;
    }
    
    .main_buttons .on a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }
    
    .main_buttons .on i {
        font-size: 24px;
    	display: block;
    	margin-bottom: 4px;
    }
    
    .main_buttons .one-third { 
    	 width: 32%;
    }
       
    .main_buttons .one-half { 
    	 width: 48%;
    }

    body {
        margin-bottom: 70px !important;
    }
}